.input {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 180px;
    padding: 5px;
    border: 2px solid rgb(6, 200, 248);
    border-radius: 3px;
    outline: none;
    background-color: #bbe9fa;
}