.button {
    padding: 0 20px;
    background-color: var(--light-blue-color);
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 900;
}

.button:disabled {
    opacity: .4;
}