*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bg-color: #282c34;
    --light-blue-color: #06C8F8FF;
    --error-color: #FF0000FF;
    --error-dark-color: #FF000075;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg-color);
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
}
