.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settingsField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 2px solid var(--light-blue-color);
    border-radius: 5px;
}

.settingsField div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: inherit;
    justify-content: center;
    padding: 15px;
    border: 2px solid var(--light-blue-color);
    border-radius: 5px;
}